.search {
  background: #192845;
  border-radius: 20px;
  height: 3rem;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: white;
}

.search::placeholder {
  color: #a5a5a5;
  font-weight: 400;
}

.todo-search:focus {
  outline-color: white;
}
